<% provide(:title, "Sign Up") %>
<h1 class="title is-1 has-text-centered is-spaced">Sign Up</h1>

<div class="field is-grouped is-grouped-centered">
  <%= form_for(@user, url: signup_path) do |f| %>
    <%= render "shared/error_messages" %>

    <div class="field">
      <%= f.label :name %>  
    </div>  
    <div class="field">
      <%= f.text_field :name, class: "input is-medium is-rounded is-dark", placeholder: "Name" %>  
    </div>

    <div class="field">
      <%= f.label :email %>
    </div>
    <div class="field">
      <%= f.email_field :email, class: "input is-medium is-rounded is-dark", placeholder: "Email" %>  
    </div>

    <div class="field">  
      <%= f.label :password %> 
    </div>
    <div class="field">
      <%= f.password_field :password, class: "input is-medium is-rounded is-dark", placeholder: "Password" %>  
    </div>

    <div class="field">   
      <%= f.label :confirmation %> 
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, class: "input is-medium is-rounded is-dark",
          placeholder: "Confirmation" %>  
    </div>
  
    <div class="field">
      <%= f.submit "Create An Account", class: "button is-dark is-medium is-rounded" %>
    </div>
  <% end %>  
</div>