<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Task Planify</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag       'icons8-task-planning-64.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/hero" %>
    <%= yield %>
  </body>
</html>
